.idea/
*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Java / Maven
target/
*.class
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.log
hs_err_pid*
replay_pid*

# OS files
Thumbs.db
Desktop.ini
